.parent{
   display: flex;
}


.child{
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    /* text-align: center; */
    align-content: center;
   }
  .submit{ color: white;}